* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Miriam Libre';
  font-weight: 400;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  background-color: #FFFFFF;
}

.introduction {
  max-width: 900px;
  margin: 0 auto;
}

.projects {
  color: white;
}

.about {
  padding: 50px 30px;
  margin-top: 30px;
  background-color: whitesmoke;
}

.about p {
  color: #555d6d;
  max-width: 900px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: left;
  padding: 10px;
}

section {
  width: 100%;
  margin: 0;
  padding: 40px 30px;
}

header {
  padding: 10px;
}

footer {
  margin: 30px;
}

h1, h3, p, button {
  font-family: 'Muli';
}

h1 {
  font-size: 2rem;
  color: black;
  margin: 20px auto;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 5px;
  margin: 0;
}

h4 {
  margin: 20px;
}

p {
  font-size: 1rem;
  font-weight: 600;
  padding: 15px;
}

img {
  border-radius: 10px;
  width: 78%;
  margin-top: 10%;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.4);
}

button {
  background-color: white;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  width: 130px;
  padding: 10px 20px;
  margin: 8px 5px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(50, 50, 50, 0.4);
}

a {
  margin: 0 5px;
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {   
  margin: 5px;
}

ul li:not(:last-of-type):after {
  color: #0076ff;
  content: '/';
  position: relative;
  top: 0 ;
  margin-left: 7px;
} 

nav ul li:first-of-type:after {
  content: '';
}

nav ul {
  justify-content: center;
}

footer ul {
  justify-content: center;
}

.align-self {
  display: none;
  margin: auto;
  margin-left: 10px;
}

.flex-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.flex {
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.info-section {
  width: 80%;
  padding: 20px 0 ;
}

.color-block-1 {
  background-color: #8965e9;
}
.color-block-2 {
  background-color: #7e93ff;
}
.color-block-3 {
  background-color: #2a9beb;
}
.color-block-4 {
  background-color: #62d0c5;
}
.button-1{
  color: #8965e9;
}
.button-2{
  color: #7e93ff;
}
.button-3{
  color: #2a9beb;
}
.button-4{
  color: #62d0c5;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }

  nav ul {
    justify-content: flex-end;
  }
  .align-self {
    display: flex;
  }
}

@media screen and (min-width: 860px) {
  h1 {
    font-size: 2.4 rem
  }

  .flex {
    width: calc(50% - 24px);
  }
}



