* {
  box-sizing: border-box;
}

/*Abril Fatface & Lato*/



h1 {
    font-family: "Abril FatFace";
    margin: 0;
    font-size: 30px;
    letter-spacing: 2px;
    display: inline;
}

h2 {
    font-family: "Lustria";
    margin-bottom: 3px;
}

body {
  font-family: "Lato";
  color: #282828;
  background-color: whitesmoke;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  margin-top: 50px;
}

p {
    text-align: left;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.about {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.initials {
    font-family: "Abril FatFace";
    letter-spacing: -2px;
    padding: 10px;
}

nav {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bars {
    padding: 0 10px;

}

.project {
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 10px auto;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.links i {
    font-size: 30px;
}

